Glass/bin/*
Glass/gen/*
/bin
.DS_Store

# boilerplate generated classes #
Web/GlassTimelapseWeb/.apt_generated/

# more caches and things from deploy #
Web/GlassTimelapseWeb/war/WEB-INF/deploy/*
Web/GlassTimelapseWeb/war/WEB-INF/classes/*

# App engine generated #
Web/GlassTimelapseWeb/war/WEB-INF/appengine-generated/*
